// Загальні стилі

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksand", "Kosugi", "Kaushan Script", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $mainText-color;
  overflow-x: hidden;
  .container {
    width: 100vw;
  }
}

.hidden {
  opacity: 0;
}

// Стилі до темної і світлої тем

.daytime {
  width: 90px;
  height: 90px;
  margin: 0 40px 50px auto;
  cursor: pointer;
  &__moon,
  &__sun {
    width: 89px;
    height: 71px;
  }
}
.hide {
  display: none !important;
}
.darkBgd {
  background: $darkBgd-color;
  color: $darkModeText-color;
}
.lightBgd {
  background: $lightBgd-color;
  color: $lightModeText-color;
}
.formBgdDark,
.footer-darkBgd {
  background: rgba(255, 255, 255, 0.05);
}
.formBgdLight {
  background: rgba(217, 217, 217, 0.59);
}

.footer-lightBgd {
  background: #212121;
  color: $darkModeText-color;
}

//  header

.header {
  @extend %paddingForSections;
  @include stylesForLogo(80px);
  @include stylesForMenu;

  color: $mainText-color;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 999;
  transition: opacity 0.5s ease-in-out;

  &__menu {
    margin: auto;
    & a {
      color: $mainText-color;
    }
  }
}

// section home

.home {
  @extend %paddingForSections;
  @extend %textCapitalize;
  padding-top: 320px;
  background: url(./../img/food-on-table.png) top 40% right 4% / 57% auto
    no-repeat;
  &__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 120px;
    margin: 0;
    color: $mainText-color;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    // text-transform: capitalize;
    margin: 75px 0;
  }
  &__btn {
    @include button(24px, 32px, 18px, 50px);
    margin: 70px 85px 5px;
    font-weight: 600;
  }
}
.search {
  &__input {
    background: none;
    width: 283.5px;
    height: 48px;
    border: 4px solid $mainText-color;
    border-radius: 5px;
  }
  &__btn {
    @include button(20px, 28px, 10px, 20px);
    font-weight: 600;
    &::before {
      content: url(../img/icon-search-location.png);
      width: 19px;
      margin-right: 7px;
    }
  }
}

// section menu

.menu {
  @extend %paddingForSections;
  background: url(./../img/half-of-pizza.png) top 160px left 0 / 25% 82%
    no-repeat;
  font-family: Kosugi;
  &__wrapper {
    width: 75%;
    margin: 0 0 0 auto;
  }
  &__title {
    font-family: "Kaushan Script";
    font-size: 152px;
    line-height: 221px;
    text-align: center;
    color: $mainText-color;
    text-transform: capitalize;
  }
  &__subtitle {
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    margin: 20px 0 50px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  &__item {
    width: 48%;
  }
  &__itemName {
    font-size: 32px;
    line-height: 50px;
    padding-left: 8%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
  }
  &__itemComposition {
    width: 80%;
    font-size: 20px;
    line-height: 24px;
  }
  &__btn {
    display: block;
    margin: 40px 170px 70px auto;
    @include button(24px, 30px, 17px, 50px);
  }
}

// section pizza

.pizza {
  @extend %paddingForSections;
  @extend %textCapitalize;
  background: url(./../img/delicious-pizza.png) bottom 0 left 0 / 40% auto
    no-repeat;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    padding: 6.5% 0 0 4%;
    text-align: center;
    letter-spacing: 0.085em;
    font-size: 64px;
    line-height: 80px;
    font-weight: 600;
    width: 55%;
    & span {
      color: $mainText-color;
    }
    & span ~ span {
      text-transform: uppercase;
      font-size: 96px;
    }
  }
  &__listWrapper {
    width: 45%;
    border-left: 20px solid $mainText-color;
    transform: skew(-27deg);
  }
  &__list {
    padding: 290px 0 0 30px;
    & li {
      transform: skew(27deg);
      letter-spacing: 0.085em;
      font-weight: 600;
      font-size: 36px;
      line-height: 45px;
      padding-left: 30px;
      margin-top: 40px;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $mainText-color;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  &__btnWrapper {
    transform: skew(27deg);
    display: block;
    margin: 110px 0 40px auto;
    text-align: right;
  }
  &__btn {
    @include button(18px, 22px, 19px, 20px);
    margin-left: 100px;
    font-weight: 600;
  }
}

// section reservation

.reservation {
  @extend %paddingForSections;
  @extend %textCapitalize;
  background: url(./../img/peppercorns.png) top 40px left 0 / 30% auto no-repeat,
    url(./../img/spices.png) bottom -75px left 32% / 25% auto no-repeat,
    url(./../img/lettuce.png) bottom 0 right 0 / 25% auto no-repeat,
    url(./../img/pepper.png) top 0 left 50% / 40% auto no-repeat;
  &__wrapper {
    font-size: 21px;
    line-height: 26px;
    text-align: right;
    padding: 1% 4% 4%;
  }
  &__form {
    width: 630px;
    padding: 40px 80px 0 80px;
    text-align: left;
    font-weight: 600;
    margin: 32px 0 76px auto;
    @extend %formStyles;
    & form {
      margin: 180px 0 200px;
    }
    & label {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
      justify-content: space-between;
      height: 30px;
      font-size: 21px;
      line-height: 26px;
      margin: 28px 0;
    }
    & input {
      border-bottom: 2px dashed;
    }
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  &__subTitle {
    margin-top: 4px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.085em;
  }
  &__btn {
    @include button(21px, 26px, 10px, 30px);
    font-weight: 600;
    display: block;
    margin: 76px auto 0;
  }
}

// section contact us

.contacts {
  @extend %paddingForSections;
  @extend %textCapitalize;
  background: url(./../img/pizza-slice.png) bottom 20px left 40px / 30% auto
    no-repeat;
  text-align: right;
  padding: 2% 8% 2% 4%;

  &__wrapper {
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    padding: 2% 0;
  }
  &__title {
    text-align: center;
    letter-spacing: 0.085em;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  &__subTitle {
    margin-top: 4px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.085em;
  }
  &__form {
    width: 630px;
    padding: 40px 80px 0 80px;
    font-weight: 600;
    @extend %formStyles;
    & form {
      margin: 60px 0 80px;
    }
    & label {
      display: block;
      height: 30px;
      font-size: 21px;
      line-height: 26px;
      margin: 20px 0 10px;
    }
    & input {
      text-transform: none;
      display: block;
      width: 100%;
      border-bottom: 2px dashed;
      margin-bottom: 10px;
    }
  }
  &__btn {
    @include button(21px, 26px, 10px, 30px);
    font-weight: 600;
    display: block;
    margin: 76px auto 0;
  }
}

.aboutUs {
  width: calc(100% - 2% - 630px);

  &__tab {
    position: relative;
    width: 100%;
    overflow: hidden;
    @extend %formStyles;
    margin-top: 60px;

    & input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    & label {
      position: relative;
      display: block;
      cursor: pointer;
      padding: 19px;
    }
    & input:checked ~ .aboutUs__tab-content {
      max-height: 100%;
    }
    & label::after {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 3em;
      height: 3em;
      line-height: 3;
      text-align: center;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }
    & input[type="radio"] + label::after {
      content: "+";
    }
    & input[type="radio"]:checked + label::after {
      -webkit-transform: rotate(315deg);
      transform: rotate(315deg);
    }
  }
  &__tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    background: #ccc;
    text-align: center;
    color: $mainText-color;
    & h3 {
      margin: 0 0 10px 0;
      padding: 5px;
    }
    & p {
      text-transform: none;
    }
  }
}

.left_part {
  width: 45%;
  display: inline-block;
  margin-right: 1%;
  padding: 25px;
  vertical-align: top;
}
.right_part {
  width: 45%;
  display: inline-block;
  margin-left: 1%;
  padding: 10px;
  vertical-align: top;
}

@media screen and (max-width: 500px) {
  .left_part,
  .right_part {
    width: 100%;
    text-align: center;
  }
}

.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 3.6rem;
}

.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.twitter span {
  background-color: #4099ff;
}
.telegram span {
  background-color: #28a5e5;
}
.facebook span {
  background-color: #3b5998;
}
.google-plus span {
  background-color: #db5a3c;
}
.instagram span {
  background-color: #f70808;
}

.icon-button i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .fa-twitter {
  color: #4099ff;
}
.icon-button .fa-telegram {
  color: #28a5e5;
}
.icon-button .fa-instagram {
  color: #f70808;
}
.icon-button .fa-google {
  color: #db5a3c;
}
.icon-button .fa-facebook-f {
  color: #3b5998;
}
.icon-button:hover .fa-twitter,
.icon-button:hover .fa-telegram,
.icon-button:hover .fa-google,
.icon-button:hover .fa-facebook-f,
.icon-button:hover .fa-instagram {
  color: white;
}

.share span {
  width: 200px;
  line-height: 90px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  margin-left: -100px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.share nav {
  font-size: 0;
}
.share a {
  line-height: 80px;
  width: 80px;
  text-align: center;
  display: inline-block;
  background-color: #ffffff;
  color: #ffffff;
  overflow: hidden;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  margin: 0 -20px;
  box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
}
.share a:nth-child(1) {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: 0;
}
.share a:nth-child(1):hover {
  background-color: #61c5ec;
}
.share a:nth-child(2):hover {
  background-color: #3b5998;
}
.share a:nth-child(3):hover {
  background-color: #28a5e5;
}
.share a:nth-child(4) {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 0;
}
.share a:nth-child(4):hover {
  background-color: #f70808;
}
.share:hover span,
.share.hover span {
  opacity: 0;
}
.share:hover a,
.share.hover a {
  border-radius: 50%;
  margin: 0 10px;
  color: #f1ce64;
  font-size: 28px;
}
.share:hover a:hover,
.share.hover a:hover {
  color: #fff;
}

#map {
  height: 400px;
  width: 100%;
}

.footer {
  @include stylesForLogo(120px);
  @include stylesForMenu;
  @extend %textCapitalize;
  padding: 0 4%;

  &__logo {
    color: $mainText-color;
  }
  &__menu {
    padding-right: 4%;
  }
}
