// Загальні стилі

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksand", "Kosugi", "Kaushan Script", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $mainText-color;
  overflow-x: hidden;
  .container {
    width: 100vw;
  }
}

.hidden {
  opacity: 0;
}

// Стилі до темної і світлої тем

.daytime {
  width: 90px;
  height: 90px;
  margin: 0 40px 50px auto;
  cursor: pointer;
  &__moon,
  &__sun {
    width: 89px;
    height: 71px;
  }
}
.hide {
  display: none !important;
}
.darkBgd {
  background: $darkBgd-color;
  color: $darkModeText-color;
}
.lightBgd {
  background: $lightBgd-color;
  color: $lightModeText-color;
}
.formBgdDark,
.footer-darkBgd {
  background: rgba(255, 255, 255, 0.05);
}
.formBgdLight {
  background: rgba(217, 217, 217, 0.59);
}

.footer-lightBgd {
  background: #212121;
  color: $darkModeText-color;
}

//  header

.header {
  @extend %paddingForSections;
  @include stylesForLogo(80px);
  @include stylesForMenu;

  color: $mainText-color;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 999;
  transition: opacity 0.5s ease-in-out;

  &__menu {
    margin: auto;
    & a {
      color: $mainText-color;
    }
  }
}

// section home

.home {
  @extend %paddingForSections;
  @extend %textCapitalize;
  padding-top: 320px;
  background: url(./../img/food-on-table.png) top 40% right 4% / 57% auto
    no-repeat;
  &__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 120px;
    margin: 0;
    color: $mainText-color;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    margin: 75px 0;
  }
  &__btn {
    @include button(24px, 32px, 18px, 50px);
    margin: 70px 85px 5px;
    font-weight: 600;
  }
}
.search {
  &__input {
    background: none;
    width: 283.5px;
    height: 48px;
    border: 4px solid $mainText-color;
    border-radius: 5px;
  }
  &__btn {
    @include button(20px, 28px, 10px, 20px);
    font-weight: 600;
    &::before {
      content: url(../img/icon-search-location.png);
      width: 19px;
      margin-right: 7px;
    }
  }
}

// section menu

.menu {
  @extend %paddingForSections;
  background: url(./../img/half-of-pizza.png) top 160px left 0 / 25% 82%
    no-repeat;
  font-family: Kosugi;
  &__wrapper {
    width: 75%;
    margin: 0 0 0 auto;
  }
  &__title {
    font-family: "Kaushan Script";
    font-size: 152px;
    line-height: 221px;
    text-align: center;
    color: $mainText-color;
    text-transform: capitalize;
  }
  &__subtitle {
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    margin: 20px 0 50px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  &__item {
    width: 48%;
  }
  &__itemName {
    font-size: 32px;
    line-height: 50px;
    padding-left: 8%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
  }
  &__itemComposition {
    width: 80%;
    font-size: 20px;
    line-height: 24px;
  }
  &__btn {
    display: block;
    margin: 40px 170px 70px auto;
    @include button(24px, 30px, 17px, 50px);
  }
}

// section pizza

.pizza {
  @extend %paddingForSections;
  @extend %textCapitalize;
  background: url(./../img/delicious-pizza.png) bottom 0 left 0 / 40% auto
    no-repeat;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    padding: 6.5% 0 0 4%;
    text-align: center;
    letter-spacing: 0.085em;
    font-size: 64px;
    line-height: 80px;
    font-weight: 600;
    width: 55%;
    & span {
      color: $mainText-color;
    }
    & span ~ span {
      text-transform: uppercase;
      font-size: 96px;
    }
  }
  &__listWrapper {
    width: 45%;
    border-left: 20px solid $mainText-color;
    transform: skew(-27deg);
  }
  &__list {
    padding: 290px 0 0 30px;
    & li {
      transform: skew(27deg);
      letter-spacing: 0.085em;
      font-weight: 600;
      font-size: 36px;
      line-height: 45px;
      padding-left: 30px;
      margin-top: 40px;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $mainText-color;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  &__btnWrapper {
    transform: skew(27deg);
    display: block;
    margin: 110px 0 40px auto;
    text-align: right;
  }
  &__btn {
    @include button(18px, 22px, 19px, 20px);
    margin-left: 100px;
    font-weight: 600;
  }
}

// section reservation

.reservation {
  @extend %paddingForSections;
  @extend %textCapitalize;
  background: url(./../img/peppercorns.png) top 40px left 0 / 30% auto no-repeat,
    url(./../img/spices.png) bottom -30px left 32% / 25% auto no-repeat,
    url(./../img/lettuce.png) bottom 0 right 0 / 25% auto no-repeat,
    url(./../img/pepper.png) top 0 left 50% / 40% auto no-repeat;
  &__wrapper {
    font-size: 21px;
    line-height: 26px;
    text-align: right;
    padding: 1% 4% 4%;
  }
  &__form {
    width: 630px;
    padding: 40px 80px;
    text-align: left;
    font-weight: 600;
    margin: 32px 0 6px auto;
    @extend %formStyles;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  &__subTitle {
    margin-top: 4px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.085em;
  }
  &__btn {
    @include button(21px, 26px, 10px, 30px);
    font-weight: 600;
    display: block;
    margin: 45px auto 0;
  }
}

.order {
  margin: 60px 0 40px;
  & h4 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
  }
  & label {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    height: 36px;
    font-size: 21px;
    line-height: 26px;
    margin: 30px 0;
    cursor: revert;
    & select {
      width: 250px;
      font-weight: 600;
      font-size: 21px;
      background-color: $mainText-color;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      text-align: center;
      color: $white-color;
      line-height: 32px;
    }
  }
  &__sortOfPizza {
    border-left: 4px solid $mainText-color;
    margin: 5px 0 50px;
    & label {
      margin: 12px 40px;
    }
    &-radio {
      all: initial;
      height: 30px;
      width: 30px;
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background-color: $white-color;
        border: 3px solid $mainText-color;
      }
      &:checked::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $mainText-color;
        transform: translate(-50%, -50%);
        visibility: visible;
      }
    }
    &-cuponInp {
      border-bottom: 2px dashed;
      width: 100px;
    }
    &-cuponSale {
      text-align: right;
      display: flex;
      justify-content: space-between;
      margin: 12px 40px;
      & span {
        margin-left: auto;
      }
    }
  }
  &__customPizza {
    padding: 20px 0;
    & p {
      font-size: 26px;
      text-align: center;
      margin: 0 auto 30px;
    }
  }
  &__supplements {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    & label {
      font-weight: normal;
      font-size: 20px;
      margin: 0px 4px;
      cursor: pointer;
    }
  }
  &__inpQantity-pizzaType {
    width: 40px;
    margin-left: auto;
    border-bottom: 2px dashed;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    &-total {
      margin-left: auto;
      padding: 0 5px;
    }
    &-button {
      @include button(21px, 26px, 10px, 30px);
      font-weight: 600;
    }
  }
}
.disabled {
  @extend %disabledClass;
}
.checked {
  color: $mainHover-color;
  font-weight: 600;
}

// section contact us

.orderList {
  width: 100%;
  max-height: fit-content;
  @extend %formStyles;
}

.contacts {
  @extend %paddingForSections;
  @extend %textCapitalize;
  background: url(./../img/pizza-slice.png) bottom 20px left 40px / 30% auto
    no-repeat;
  text-align: right;
  padding: 2% 8% 2% 4%;

  &__wrapper {
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    padding: 2% 0;
  }
  &__title {
    text-align: center;
    letter-spacing: 0.085em;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  &__subTitle {
    margin-top: 4px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.085em;
  }
  &__form {
    width: 630px;
    padding: 40px 80px 0 80px;
    font-weight: 600;
    @extend %formStyles;
    & form {
      margin: 90px 0 110px;
    }
    & label {
      display: block;
      height: 30px;
      font-size: 21px;
      line-height: 26px;
      margin: 20px 0 0;
    }
    & input {
      text-transform: none;
      display: block;
      width: 100%;
      border-bottom: 2px dashed;
      margin-bottom: 10px;
    }
    &-error {
      color: red;
    }
  }
  &__btn {
    @include button(21px, 26px, 10px, 30px);
    font-weight: 600;
    display: block;
    margin: 80px auto 0;
  }
}

.footer {
  @include stylesForLogo(120px);
  @include stylesForMenu;
  @extend %textCapitalize;
  padding: 0 4%;

  &__logo {
    color: $mainText-color;
  }
  &__menu {
    padding-right: 4%;
  }
}
