@mixin button($fontSize, $lineHeight, $topBottom, $leftRight) {
  background: $mainText-color;
  border-radius: 5px;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $white-color;
  padding: $topBottom $leftRight;
  text-transform: capitalize;
  @extend %hoverForBtns;
}
