%paddingForSections {
  padding: 0 4%;
}

%textCapitalize {
  text-transform: capitalize;
}

%hoverForBtns {
  &:hover {
    background: $mainHover-color;
  }
}

%formStyles {
  border-width: 3px 1px 1px 3px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  box-shadow: 10px 19px 30px 5px rgba(0, 0, 0, 0.25);
}

%slideBackground {
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
